.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid #f9f9f9;
}

.header_logo{
   object-fit: contain;
   height: 40px;
}

 .header_icon{
    padding: 4px;
}
.modal-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
}
.share{
	width: 100%;
	border-radius:10px ;
	-webkit-box-shadow:0px 0px 16px -8px rgba(0,0,0,.68);
	box-shadow: 0px 0px 16px -8px rgba(0,0,0,.68);
}
.shareWrapper {
    width: 370px;
    padding: 30px;
}
.shareTop{
	display: flex;
	align-items: center;
}
.shareProfileImg{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}
.shareInput{
	border: none;
	width: 80%;
}
.shareInput:focus{
	outline: none;
}
.shareHr{
	margin-top: 20px;
}
.shareBottom{
	display: flex;
	align-items: center;
	justify-content: center;
}
.shareOptions{
	display: flex;
}
.shareOption{
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-right:35px ;
	cursor: pointer;
}
.shareIcon{
	font-size: 18px;
	margin-right: 3px;
}
.shareOptionText{
	font-size: 14px;
	font-weight: 500;
}
.shareButton{
	border: none;
	padding: 7px;
	border-radius: 5px;
	background: #fe3c72;
	color: white;
	/* margin-right: 20px; */
	margin-top: 10px;
	font-weight: 500;
	cursor: pointer;
}
.shareImgContainer{
	padding : 0px 20px 10px 20px;
	position:relative
}
.shareImg{
	width: 50%;
	object-fit: cover;
    margin-left: 70px
}
.shareCancelImg{
	position: absolute;
	top: 0;
	right: 61px;
	cursor: pointer;
	opacity: 0.8;
}
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 74px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	font-size: 25px;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  button{
	background: #fe3c72;
	color: white;
    padding: 5px 13px;
    border: none;
  }